<div class="header_right_window">
  <button class="button_compile" (click)="compile()">Compile</button>
</div>

<div class="pdf">
  <object id="beamer1" data="../../assets/beamer1.pdf" width="100%" [(height="770")]></object>
  <object id="beamer2" data="../../assets/beamer1.pdf" width="100%" height="770"></object>
  <object data="../../assets/beamer1.pdf" width="100%" height="770"></object>
  <!-- <embed id="beamer1" src="../../assets/beamer1.pdf" width="100%" height="770">
  <embed id="beamer2" src="../../assets/beamer2.pdf" width="100%" height="770">
  <embed src="../../assets/beamer3.pdf" width="100%" height="770"> -->

</div>
