<app-header></app-header>
<!-- <ul>
	<li> <a routerLink="/"> Browse </a> </li>
	<li><a routerLink="/parts"> Structure 	</a></li>
	<li> <a routerLink="/main"> WorkSpace </a> </li>

</ul> -->
<div class="upload">
	<h1>Choix du fichier...</h1>
	<div class="browser">
	  <label for="file" class="label-file">Browse</label>
	  <input id="file" class="input-file" type="file" name="file" ngModel (change)="getFile($event)">
		<p class="file-name" name="fileTitle" ngModel > {{fileTitle}}</p>
	</div>
	<div class="next">
	  <button class="button" routerLink="/parts">Next</button>
	</div>
</div>
<!-- <button (click)="showLatex()">VOIR LES LATEX</button> -->
<div class="file-choice">
<p>... Or choose a file you already uploaded :</p>
	<ul>
  <li *ngFor="let fileInfos of filesInfos">
	 <a href="/parts">{{ fileInfos.title }}</a>
 </li>
</ul>
</div>
<!-- <button type="button" name="button" (click)="whatever()">Clique ICICICIICICIIC</button> -->
<!-- <button type="button" name="button" (click)="oui()">GET CURRENT ID</button> -->
