<app-header></app-header>
<!-- <ul>
	<li> <a routerLink="/"> Browse </a> </li>
	<li><a routerLink="/parts"> Structure </a></li>
	<li> <a routerLink="/main"> WorkSpace </a> </li>

</ul> -->


<div class="main-window">
  <h1>Choose what parts you want to keep...</h1>
  <p>You are working on the following file : <b>{{fileTitle}}</b></p>
  <form class="tree">
    <ul *ngFor='let section of userDocument.sections; let i = index'>
      <li>
        <input type="checkbox" name="section" [(checked)]="section.isChecked" (click)="i_s = i; check_s()">
        <b class="sections">{{i+1}}) {{section.title}}</b>
      </li>

      <ul *ngFor="let sub_section of section.sub_sections; let j = index">
        <li>
          <input type="checkbox" name="" [(checked)]="sub_section.isChecked" (click)="i_s = i; j_ss = j; check_ss()">
           <b class="sub_sections">{{i+1}}.{{j+1}}) {{sub_section.title}}</b>
         </li>

        <ul *ngFor="let sub_sub_section of sub_section.sub_sub_sections; let k = index">
          <li>
            <input type="checkbox" name="" [(checked)]="sub_sub_section.isChecked" (click)="i_s = i; j_ss = j; k_sss = k; check_sss()">
             <b class="sub_sub_sections">{{i+1}}.{{j+1}}.{{k+1}}) {{sub_sub_section.title}}</b>
           </li>

        </ul>
      </ul>
    </ul>
  </form>
  <button class="button-confirm" (click)="confirmParts()">Confirm</button>
  <div class="next" *ngIf="showNext">
    <button routerLink="/main" class="button-next">Next</button>
  </div>
</div>

<!-- <div class="layout-padding">

  <ng-template #recursiveList
               let-list>

    <mat-card dndPlaceholderRef
              class="dndPlaceholder">
    </mat-card>

    <mat-card *ngFor="let item of list"
              [dndDraggable]="item"
              dndEffectAllowed="move"
              [dndDisableIf]="item.disable"
              (dndStart)="onDragStart($event)"
              (dndCopied)="onDragged(item, list, 'copy')"
              (dndLinked)="onDragged(item, list, 'link')"
              (dndMoved)="onDragged(item, list, 'move')"
              (dndCanceled)="onDragged(item, list, 'none')"
              (dndEnd)="onDragEnd($event)">

      <mat-icon *ngIf="item.handle"
                mat-list-icon
                dndHandle> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStyVRaamtWtdw6S1j3yYbep1M3Ut2AkUXiSm1T22rvkIqWztZD">
         </mat-icon>
      {{item.content}}

      <div *ngIf="item.customDragImage"
           dndDragImageRef> <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-32.png">

      </div>

      <div *ngIf="item.children"
           class="layout-padding"
           dndDropzone
           (dndDrop)="onDrop($event, item.children)">

        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>

      </div>

    </mat-card>

  </ng-template>

  <div class="layout-padding"
       dndDropzone
       (dndDrop)="onDrop($event, nestableList)">

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: nestableList }"></ng-container>

  </div>

</div>
<button routerLink="/main">Next</button> -->
