<app-header></app-header>
<ul> 
	<li> <a routerLink="/"> Browse </a> </li>
	<li><a routerLink="/parts"> Structure 	</a></li>
	<li> <a routerLink="/main"> WorkSpace </a> </li>

</ul>
<div class="upload">
	<h1>Choix du fichier</h1>
	<div class="browser"> 
	  <label for="file" class="label-file">Browse</label>
	  <input id="file" class="input-file" type="file" name="file" ngModel (change)="getFile($event)">
	</div>
	 
	<div class="next"> 
	  <button class="button" routerLink="/parts">Next</button>
	</div>
</div>
