p{
  width: 100%;
  /* text-align: center; */
}

.section{
  margin-left: 20px;
  margin-right: 20px;
}

.section h2{
  color: red;
}

.sub_section h3{
  color: green;
}

.sub_sub_section h4{
  color: blue;
}

.sub_section{
  margin-left: 20px;
}

.sub_sub_section{
  margin-left: 20px;
}
